__pycache__
*.pyc
.ipynb_checkpoints
*.aux
*.log
*.cb
*.cb2
*.gz
*.bbl
*.blg
.venv
.bash_history
python/manim_animations/.bash_history
python/manim_animations/.ipython/
python/manim_animations/.jupyter/
python/manim_animations/.local/
media
.cache/
*.blend1
Blender/.vscode
untracked_with_git
cpp/*/temp
notes-FEniCSx_files/libs/
.ipython/
.jupyter/
.local/
Untitled.ipynb
